@import 'src/styles/styles.scss';
@import '@/styles/function.scss';

.mainPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: pxRem(30);
}

.section {
  width: 100%;
  margin: 0 pxRem(50);
  border-bottom: 1px solid $primary;
}

.containerSlider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
  overflow: hidden;
}

.containerAbout {
  display: flex;
  flex-direction: row;
  padding: pxRem(40);
  position: relative;
  height: 100%;
}

.heading {
  position: absolute;
  top: pxRem(-20);
  left: 42%;
}

.aboutUs {
  width: 100%;
  height: 100%;
}
