@import 'src/styles/styles.scss';
@import '@/styles/function.scss';

.button {
  display: inline-block;
  border: 1px solid $border-color;
  border-radius: $unit-quarter;
  padding: $unit-quarter;
  cursor: pointer;
  background-color: $background;
  font-size: $unit;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

  &.primary {
    background-color: $primary;
  }

  &.secondary {
    background-color: $secondary;
    color: $background;
  }

  &.accent {
    background-color: $accent-color;
  }

  &.xs {
    padding: $unit-half;
  }

  &.sm {
    padding: $unit-three-quarters;
  }

  &.md {
    padding: $unit;
  }

  &.lg {
    padding: $unit-and-half;
  }

  &.error {
    background-color: $error-color;
  }

  &.success {
    background-color: $success-color;
  }
}

.button:hover {
  background-color: $for-hover;
}
