@import 'src/styles/styles.scss';
@import '@/styles/function.scss';

.card {
  display: flex;
  flex-direction: column;

  justify-content: center;
  width: pxRem(300);
  height: pxRem(300);
  border: 2px solid $border-color;
  border-radius: $unit;
  padding: $unit-half;
  cursor: pointer;
  background-color: $background-gray;
  font-size: $unit;

  &.sm {
    width: pxRem(250);
    height: pxRem(250);
  }

  &.md {
    width: pxRem(300);
    height: pxRem(300);
  }

  &.lg {
    width: pxRem(400);
    height: pxRem(400);
  }
}

.cardImg {
  margin: auto;
  width: 70%;
  height: 70%;
  object-fit: cover;
  border-radius: $unit-quarter;
}

.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 5px;
  margin: 0px;
}
