@import 'src/styles/styles.scss';
@import '@/styles/function.scss';

.wrapperContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  border: 1px solid $border-color;
  border-radius: $unit;
  padding: pxRem(10);
  position: relative;
  height: pxRem(20);

  &.show {
    height: auto;
  }
}

.contentOverview {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: pxRem(6) pxRem(0);
}

.contentHiddenOverview {
  display: none;
}

.overview {
  margin: 0;
}

.contentCourseText {
  margin: pxRem(5) pxRem(0);
}

.dropdownIcon {
  position: absolute;
  right: pxRem(10);
  top: pxRem(10);
  width: pxRem(20);
  height: pxRem(20);
  margin-left: pxRem(10);
  transition: transform 0.3s;
  transform: rotate(180deg);
}

.dropdownIconRotate {
  position: absolute;
  right: pxRem(10);
  top: pxRem(10);
  width: pxRem(20);
  height: pxRem(20);
  margin-left: pxRem(10);
  transition: transform 0.3s;
}
